body {

    background-color: #483D8B;
    color: #ffffff;
    font-family: monospace;
    
    
    }
    .tittle {
    
    font-size: 48px;
    color: #00FFFF;
    
    }
    
    .list-item {
    
    margin-bottom: 24px;
    font-size: 24px;
    
    }